@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


.tool-title{
    text-align: center;
    text-shadow: 2px 2px 8px #669999;
    color:  #3d3d5c;
    font-family: Lora;
    font-size: 50px;
    margin: 0;
}
body {
background-color:#e0e0eb;
}
.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 70px;
}
.inputtext{
    margin-bottom: 20px; 
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    height: 200px;
    width: 500px;
    padding-top: 5px;
    border-radius: 25px;
    border: 2px solid black;
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 30px;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color:#3d3d5c;
    border: none;
    color:  #ffffff;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 100px;
    font-family: 'Times New Roman', Times, serif;
  }
  .button:hover{
    box-shadow: 0 10px 16px 0 #3d3d5c;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 20px;
  }
  .action-button{
    margin-left: 90px;
    margin-right: 40px;

  }
  .match-result-text{
    text-align: center;
    font-size: large;
    font-family: Lora;
    color: #3d3d5c;
  }